{% extends "base.html" %}

{# {% block title %}

{% endblock title %}
 #}
 <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

{% block head %}

{% endblock head %}

{% block body %}
 <div x-data 
    class="body-container oveflow-hidden" 
    {# background da sidebar e do header #}    
>
    {% include "partials/header.html" %}

    <div class="flex flex-row grow pb-4 pr-4 overflow-hidden">

        {% include "partials/sidebar.html" %}

        <div class="content-border">

            {# moldura  #}
            <div class="content-container">
                
                <div id="content" class="overflow-hidden">
                <!-- Add main content here  -->
                    {% block content %}
                    

                    
                    {% endblock content %}
                </div>
                
            </div>

        </div>

    </div>
</div>
{% endblock %}

