{% extends "base.html" %}

{% block head %}

{% endblock head %}

{% block body %}
{#  <div x-data class="relative flex w-full flex-col h-svh ">  #}
<div class="body-container" x-data>

    {% include "partials/header.html" %}

    {# <div class="flex flex-row grow bg-surface-alt dark:bg-surface-dark-alt pb-4 pr-4"> #}
    <div class="sidebar-wrapper">

        {% include "partials/sidebar.html" %}

        <div class="content-border">

            <div class=" content-container">
                
                <div id="content">
                <!-- Add main content here  -->
                    {% block content %}
                    

                    
                    {% endblock content %}
                </div>
                
            </div>

        </div>

    </div>
</div>
{% endblock body %}
