{% extends "base.html" %}

{# {% block title %}

{% endblock title %}
 #}
{% block head %}

{% block scripts %}

    {# leaflet #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" 
    crossorigin=""></script>


{% endblock scripts %}

{% endblock head %}

{% block body %}
 <div x-data class="relative flex w-full flex-col h-svh "> 

    {% include "partials/header.html" %}

    <div class="flex flex-row grow bg-surface-alt dark:bg-surface-dark-alt pb-4 pr-4">

        {% include "partials/sidebar.html" %}

        <!--background-->
        <div class="border border-outline rounded-radius w-full dark:border-outline-dark">

            {# moldura  #}
            <div class=" w-full h-full rounded-radius bg-surface dark:bg-surface-dark">
                
                <div id="content" class="p-2 w-full h-full flex flex-col">
                <!-- Add main content here  -->
                    {% block content %}
                    

                    
                    {% endblock content %}
                </div>
                
            </div>

        </div>

    </div>
</div>
{% endblock %}

