<!DOCTYPE html>
<html lang="pt-BR" x-data :class="{'dark': $store.theme.darkMode }">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{page.title if page and page.title else "Torres SCC"}}</title>

    <script type="module" src="/static/js/main.js" defer></script>
    <script>
        // Função para aplicar a classe 'dark' antes do carregamento completo.
        if (localStorage.getItem('darkMode') === 'true' || 
            (!('darkMode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
        
    <link rel="stylesheet" href="/static/css/app.css">
    
    {# <style>
        #map { height: 400px; width: 100%; }
    </style>
    #}
    {% block head %}
    
    
    
    {% endblock head %}

</head>

<body hx-boost="true">
    {% block body %}
    
    {% endblock body %}

    {% block end_body %}
        
    {% endblock end_body %}
</body>

</html>