<!DOCTYPE html>
<html lang="pt-BR" x-data :class="{'dark': $store.theme.darkMode }">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title>{{page.title if page and page.title else "Torres SCC"}}</title>
    {% endblock title %}
    

    {# <script type="module" src="/static/js/main.js" defer></script> #}
    <script type="module" src="/static/js/main.js"></script>
    
    {% include "partials/scripts/darkmode.html" %}
    {% include "partials/scripts/sidebar_state.html" %}
    {% include "partials/scripts/alpine_utils.html" %}
        
    <link rel="stylesheet" href="/static/css/app.css">
    
    {% block head  %}
    
    
    
    {% endblock head %}

</head>

<body hx-boost="true">
    {% block body %}
    
    {% endblock body %}
</body>

</html>