<!-- This allows screen readers to skip the sidebar and go directly to the main content. -->
<a class="sr-only" href="#content">skip to the main content</a>
    
<!-- dark overlay for when the sidebar is open on smaller screens  -->
{# <div class="fixed inset-0 z-10 bg-surface-dark/10 backdrop-blur-xs md:hidden" aria-hidden="true" x-on:click="showSidebar = false" x-transition.opacity></div> #}

<nav 
    id="nav-sidebar"
    class="
        sidebar
    " 
    :class=" {# SIDEBAR W TOGGLE #}
        { 'open': $store.sidebar.isSidebarOpen, 'close' : !$store.sidebar.isSidebarOpen}
    "
    {# remove a classe do pai #}
    x-init="document.documentElement.classList.remove('sidebar-expanded')"
>
    <div {# sidebar items container #} 
        id="sidebar-items-container"
        class="
            sidebar-container 
        "
    >
        {# HOME #}
        <a 
            hx-get="/home"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
            href="/home"
            class=" sidebar-item"
            :class="{
                'active' : $store.sidebar.currentPath === '/home'
            }"
        >
            <div>
                <i data-lucide="house"></i>
                <span 
                    x-cloak
                    :class="{ 
                        'open': $store.sidebar.isSidebarOpen, 
                        'close': !$store.sidebar.isSidebarOpen 
                    }"
                >
                Home
                </span>
            </div>
        </a>

        {# USER #}
        <a 
            hx-get="/user" 
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
            href="/user" 
            class=" sidebar-item "
            :class="{
                'active' : $store.sidebar.currentPath === '/user/'
            }"
            {#  $store.sidebar.currentPath.startsWith('/terreno') #}
        >
            <div>
                <i data-lucide="users-round"></i>
                <span 
                    x-cloak
                    :class="{ 
                        'open': $store.sidebar.isSidebarOpen, 
                        'close': !$store.sidebar.isSidebarOpen 
                    }"
                >
                Usuários
                </span>
            </div>
        </a>

        {# TERRENO #}
        <a 
            hx-get="/terreno" 
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
            href="/terreno" 
            class=" sidebar-item "
            :class="{
                'active' : $store.sidebar.currentPath === '/terreno/'
            }"
        >
            <div>
                <i data-lucide="land-plot"></i>
                <span 
                    x-cloak
                    :class="{ 
                        'open': $store.sidebar.isSidebarOpen, 
                        'close': !$store.sidebar.isSidebarOpen 
                    }"
                >
                Terrenos
                </span>
            </div>
        </a>

        {# TORRE #}
        <a 
            hx-get="/torre"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
            href="/torre"
            class=" sidebar-item"
            :class="{
                'active' : $store.sidebar.currentPath === '/torre/'
            }"
        >
            <div >
                <i data-lucide="radio-tower"></i>
                <span 
                    x-cloak
                    :class="{ 
                        'open': $store.sidebar.isSidebarOpen, 
                        'close': !$store.sidebar.isSidebarOpen 
                    }"
                >
                Torres
                </span>
            </div>
        </a>



  </div>
  {% include "partials/user_sidebar.html" %}

    {# <button
    class="
    mt-auto
        flex items-center
        rounded-radius 

        align-center
        text-sm font-medium
        h-10
        text-on-surface dark:text-on-surface-dark
        underline-offset-2
        focus-visible:underline focus:outline-hidden
        dark:hover:bg-primary-dark/5 hover:bg-primary/5
        dark:hover:text-on-surface-dark-strong hover:text-on-surface-strong 
        overflow-hidden 
        max-w-full
        cursor-pointer
        "
    :class="
        {'justify-center w-10': !$store.sidebar.isSidebarOpen, 'justify-start w-full pl-2.5': $store.sidebar.isSidebarOpen}
    "
    >
        <i data-lucide="circle-user-round" class="size-5 shrink-0"></i>
        <span x-cloak
            class="
                whitespace-nowrap
                transition-opacity 
                duration-300
                ease-in-out

            "
            :class="{ 
                'opacity-100 w-auto pl-2': $store.sidebar.isSidebarOpen, 
                'opacity-0 w-0 overflow-hidden': !$store.sidebar.isSidebarOpen 
            }"
        >
            {{user.name}} aaaaaaaaaaaaaaaaaaaaa
        </span>

    </button> #}

</nav>
