{% extends "layout/template_mapa.html" %}

{% block content %}

<script>
function registerComponent() {
    console.debug("registrando essa merda")

    Alpine.data("newTerrenoForm", () => ({
        
        map: null,
        marker: null,

        //posição inicial lages

        lat: -27.81525134808175,
        lng: -50.329919457435615,
        f_lat_lng: 5,

        d_lat: 0,
        d_lng: 0,

        zoom_level: 10,

        search_query: '',
        s_addr_txt: '',
        show_results: false,

        name: '',
        //isAlugado: false,
        //valorAluguel: '',

        setupEvents() {
            this.map.on('zoomend', () => {
                this.zoom_level = this.map.getZoom();
            });

            //evento arrastar marcador
            this.marker.on('dragend', (e) => {
                const {lat, lng} = e.target.getLatLng();
                this.updateFromCoords(lat, lng);
            });

            //evento clicar no mapa
            this.map.on('click', (e) => {
                //const {lat, lng} = e.target.getLatLng();
                this.updateFromCoords(e.latlng.lat, e.latlng.lng);
                //this.updateFromCoords(lat, lng);
            });

            //this.$watch('isAlugado', value => {
            //    if (!value) this.valorAluguel = '';
            //});
        },

        init() {

            this.initMap();
            // Atualiza o zoom_level sempre que o usuário interagir com o zoom

            this.setupEvents();
        },

        updatelatlng(n_lat, n_lng) {
            this.lat = n_lat
            this.lng = n_lng

            this.d_lat = this.lat.toFixed(this.f_lat_lng);
            this.d_lng = this.lng.toFixed(this.f_lat_lng);
        },

        update_map_marker() {
            this.map.setView([this.lat, this.lng], this.zoom_level);
            this.marker.setLatLng([this.lat, this.lng]);
        },

        async geocode(lat, lng){
            try {
                //geocoding reverso para atualizar o texto 
                const response = await fetch(`https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}&zoom=${this.zoom_level}&addressdetails=1&extratags=1&accept-language=pt-BR`);

                const r_data = await response.json();

                //console.log(`geocode reverse response ${data}`);
                const new_addr = r_data.display_name || `Lat: ${lat}, Long: ${lng}`;

                return new_addr

            } catch (e) {
                console.error("Erro no Geocoding Reverso:", e);
                return `Lat: ${lat}, Lng: ${lng} (Não foi possível obter o endereço)`;
            }
        },

        async initMap() {
            //mapa, layer e marcador baseado nas coordenadas full
            this.map = L.map('map')
                .setView([this.lat, this.lng], this.zoom_level);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
                .addTo(this.map);

            this.marker = L.marker([this.lat, this.lng], {draggable: true})
                .addTo(this.map);

            //this.s_addr_txt = await this.geocode(this.lat, this.lng)
            //primeiro endereço selecionado -
            //await this.updateFromCoords(this.lat, this.lng)
            this.updateFromCoords(this.lat, this.lng)
        },

        async updateFromCoords(new_lat, new_lng) {

            //parse do float se none levante
            const p_lat = parseFloat(new_lat);
            const p_lng = parseFloat(new_lng);

            if ( isNaN(p_lat) || isNaN(p_lng) ) {
                console.error("erro nas coordenadas");
                return;
            };

            //se mapa e marcador 
            if (this.map && this.marker) {
                //altualiza coordenadas reais e display
                //this.updatelatlng(p_lat, p_lng)
                //new

                // Atualiza as variáveis internas
                this.lat = p_lat;
                this.lng = p_lng;
                
                // Atualiza o display (d_lat/d_lng) APENAS se a diferença for significativa
                // Isso evita que o cursor pule enquanto o usuário digita
                if (Math.abs(this.d_lat - p_lat) > 0.00001) {
                    this.d_lat = p_lat.toFixed(this.f_lat_lng);
                }
                if (Math.abs(this.d_lng - p_lng) > 0.00001) { //0.0001
                    this.d_lng = p_lng.toFixed(this.f_lat_lng);
                }
                
                //mover o mapa e o marcador para coordenadas reais 
                this.update_map_marker()
                //busca o novo texto do endereço
                this.s_addr_txt = "Buscando endereço...";
                this.s_addr_txt = await this.geocode(p_lat, p_lng)

            }
        },

        select_addr(data) {
            n_lat = parseFloat(data.lat);
            n_lng = parseFloat(data.lng);

            this.s_addr_txt = data.selectedAddress;
            this.search_query = data.selectSearchAddress;

            this.updatelatlng(n_lat, n_lng)        
            this.update_map_marker()
            //this.map.setView([this.lat, this.lng], this.zoom_level);
            //this.marker.setLatLng([this.lat, this.lng]);

            //apagar os itens dentro da li
            const resultsContainer = document.getElementById('search-results');
            if (resultsContainer) {
                resultsContainer.innerHTML = '';
            }
        },

        manualUpdate() {
            // Substitui vírgula por ponto caso o usuário digite no formato brasileiro
            const lat = parseFloat(this.d_lat.toString().replace(',', '.'));
            const lng = parseFloat(this.d_lng.toString().replace(',', '.'));

            // Validação básica de range de coordenadas
            if (!isNaN(lat) && !isNaN(lng) && Math.abs(lat) <= 90 && Math.abs(lng) <= 180) {
                // Reutiliza sua função que já faz o setView e o Geocoding
                this.updateFromCoords(lat, lng);
            }
        },

        //formatMoeda(e) {
        //    let value = this.valorAluguel.replace(/\D/g, ""); // Remove tudo que não é dígito
            
            // Converte para decimal (centavos)
        //    value = (value / 100).toFixed(2) + "";
            
            // Troca ponto por vírgula e adiciona separador de milhar
        //    let parts = value.split(".");
        //    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            
        //    this.valorAluguel = parts.join(",");
        //},

        // Função auxiliar para o hx-vals enviar o formato correto (float)
        //getValorAluguelFloat() {
        //    if (!this.valorAluguel) return 0;
        //    // Remove pontos de milhar e troca a vírgula decimal por ponto
        //    return parseFloat(this.valorAluguel.replace(/\./g, '').replace(',', '.'));
        //},         

    })); 
};

if (window.Alpine) {
    registerComponent();
} else {
    document.addEventListener("alpine:init", registerComponent);
}

</script>
<style>
    .htmx-indicator {
        opacity: 0;
        pointer-events: none; /* Importante para não bloquear cliques quando invisível */
        transition: opacity 200ms ease-in;
    }

    .htmx-request .htmx-indicator,
    .htmx-request.htmx-indicator {
        opacity: 1;
        pointer-events: auto;
    }

    /* Quando o indicador estiver ativo, force o SVG lá dentro a girar */
    .htmx-request .animate-spin,
    .htmx-request.animate-spin {
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
</style>

<div 
    x-data="newTerrenoForm()"
    class="flex flex-row h-full overflow-x-auto gap-4 p-2"
>

    <!-- Coluna do formulário -->
    <div class="flex flex-col flex-1 gap-4 h-full">
        
        <span class="text-xl font-semibold">
            <h2>
                Novo Terreno
            </h2>
        </span>

        {% block form %}

        <form hx-post="/terreno/create"
            x-bind:hx-vals="
            JSON.stringify({
                lat: lat,
                lng: lng,
                name: name,
            })
            {# address: s_addr_txt, #}
            "
            class=" flex flex-col flex-1 w-full justify-between"
        >       

            {# field container #}
            <div class="flex w-full flex-1 flex-col gap-x-4 gap-y-2">

                {# Nome do terreno #}
                <div class="flex flex-col gap-1 text-on-surface dark:text-on-surface-dark">
                    
                    <label for="first_name" class="w-fit pl-0.5 text-sm font-medium text-on-surface-strong dark:text-on-surface-dark-strong">
                        Nome do terreno <span class="text-danger">*</span>
                    </label>

                    <input 
                        id="name"
                        type="text" 
                        name="name"
                        x-model="name"

                        class="w-full rounded-radius border px-3 py-2 text-base 
                                bg-surface dark:bg-surface-dark border-outline dark:border-outline-dark
                                focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary dark:focus-visible:outline-primary-dark" 
                        required
                        minlength="1"
                        maxlength="120"

                        placeholder="Digite o nome do terreno"

                        {% if name and name.value %}
                            value="{{name.value}}"
                        {%endif%}

                    />
                        {% if name and name.error %}
                            <small class="mb-1
                                text-danger text-xs
                            ">
                            Nome em uso
                        </small>
                        {% else %}
                        <small class="mb-1
                            dark:text-on-surface-dark/60 text-on-surface/60 invisible
                        "></small>
                        {% endif %}


                </div>


                {# Endereço selecionado #}
                <div class="flex w-full flex-col gap-2">
                    <label 
                        for="textselectedaddr"
                        class="
                        w-fit pl-0.5 text-sm">

                        Endereço Selecionado
                    </label>

                    <textarea
                        style="resize: none;"
                        disabled
                        x-model="s_addr_txt"
                        id="textselectedaddr" 
                        class="
                            w-full 
                            rounded-radius border
                            border-outline dark:border-outline-dark
                            bg-surface-alt  dark:bg-surface-dark-alt/50
                            px-2.5 py-2 
                            text-sm 
                            focus-visible:outline-2 focus-visible:outline-offset-2 
                            disabled:cursor-not-allowed
                            disabled:opacity-75
                            dark:focus-visible:outline-primary-dark focus-visible:outline-primary
                        " 
                        rows="5" 
                        placeholder="...">
                    </textarea>
                </div>
                {# end endereço selecionado #}

                {# Dados e documentos #}
                <!--<div class="flex w-full flex-col gap-2">
                    <label class="w-fit pl-0.5 text-sm">Dados e documentos</label>

                    {# Terreno alugado ? #}
                    <div class="flex flex-row items-center gap-4">
                        
                        {# checkbox #}
                        <label for="checkboxAluguel" 
                            class="
                                flex
                                items-center gap-2
                                text-sm font-medium
                                text-on-surface dark:text-on-surface-dark
                                has-checked:text-on-surface-strong dark:has-checked:text-on-surface-dark-strong 
                                has-disabled:cursor-not-allowed
                                has-disabled:opacity-75
                            "
                        >
                            <span class="relative flex items-center">
                                <input id="checkboxAluguel" type="checkbox"
                                    x-model="isAlugado"
                                    class="
                                        before:content[''] peer 
                                        relative size-4
                                        appearance-none overflow-hidden 
                                        rounded-sm 
                                        border border-outline
                                        bg-surface-alt 
                                        before:absolute before:inset-0
                                        checked:border-primary checked:before:bg-primary 
                                        focus:outline-2 focus:outline-offset-2 focus:outline-outline-strong
                                        checked:focus:outline-primary active:outline-offset-0 disabled:cursor-not-allowed
                                        dark:border-outline-dark dark:bg-surface-dark-alt
                                        dark:checked:border-primary-dark dark:checked:before:bg-primary-dark
                                        dark:focus:outline-outline-dark-strong dark:checked:focus:outline-primary-dark
                                    "
                                    
                                />
                                <i data-lucide="check" class="size-3 pointer-events-none invisible absolute left-1/2 top-1/2 -translate-1/2 text-on-primary peer-checked:visible dark:text-on-primary-dark"></i>
                            </span>
                            <span>
                                Terreno alugado ?
                            </span>
                        </label>



                        <div class="flex items-center gap-2 text-on-surface dark:text-on-surface-dark">
                            <div 
                                class="group flex items-center rounded-radius border border-outline bg-surface-alt dark:border-outline-dark dark:bg-surface-dark-alt/50 focus-within:ring-2 focus-within:ring-primary transition-opacity"
                                :class="!isAlugado ? 'opacity-50' : 'opacity-100'"
                            >
                                <span class="pl-2 text-xs font-semibold opacity-50 select-none">R$</span>
                                <input 
                                    type="text" 
                                    x-model="valorAluguel"
                                    @input="formatMoeda($event)"
                                    :disabled="!isAlugado"
                                    :required="isAlugado"
                                    placeholder="0,00"
                                    inputmode="numeric"
                                    class="w-24 bg-transparent p-1 text-sm focus:outline-none disabled:cursor-not-allowed"
                                />
                            </div>
                        </div>

                    </div>
                </div>{# end dados e documentos #} -->

            </div>
            {# end field container #}

            {# send btn #}
            <div class=" flex w-full gap-4 flex-col">
                <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 transition">
                    Salvar Terreno
                </button>
            </div>


        </form>
        {% endblock form %}

    </div> {# END Coluna Formulário #}

    {# Coluna mapa  #}
    <div class=" flex-1 flex h-full flex-col"
        x-on:htmx:after-swap="show_results = true"
    >
        {# SearchBar Container #}
        <div 
            id="pesquisaEndereco"
            class="
                relative 
                text-on-surface dark:text-on-surface-dark
                flex w-full flex-col 
            "
        > 
            <input id="pesquisaEnderecoInput"  {# SearchBar #}
                name="address_query" 
                type="text"
                placeholder="Pesquiar endereço" aria-label="pesquisar endereco"
                
                {# HMTX #}
                x-model="search_query"
                hx-get="/htmx/address/search" 
                hx-trigger="keyup changed delay:300ms"
                hx-swap="innerHTML" 
                hx-target="#search-results" 
                hx-indicator=".htmx-indicator"
                {# EVENTOS #}
                @input="show_results = false"
                @mousedown="
                    if ($refs.searchResults?.children.length > 0) {
                        show_results = true
                    }
                "
                {# CSS #}
                class="
                    w-full
                    rounded-radius 
                    border border-outline dark:border-outline-dark
                    bg-surface-alt dark:bg-surface-dark-alt/50
                    py-2 pl-10 pr-2 
                    text-sm
                    focus-visible:outline focus-visible:outline-offset-1
                    focus-visible:outline-dark dark:focus-visible:outline                    
                "/>

                <i data-lucide="search" 
                class="
                    size-5
                    absolute left-2.5 top-1/2 -translate-y-1/2 
                    text-on-surface/50 dark:text-on-surface-dark/50"></i>
                <span id="loading-wrapper" class="htmx-indicator absolute right-2.5 top-1/2 -translate-y-1/2">
                    {# ÍCONE (Controlado pelo Lucide e Tailwind) #}
                    <i data-lucide="loader-2" class="animate-spin size-5 text-indigo-600"></i>
                </span>

        </div>

        <div class="relative"> {# result container #}
            <div 
                class="
                    absolute z-1001 px-2
                    w-full top-full
                    flex flex-col "
                style="margin-top: 6px;"
            >
                <ul id="search-results" 
                    class=" 
                        bg-surface-alt dark:bg-surface-dark-alt
                        border border-outline dark:border-outline-dark 
                        shadow-2xl
                        rounded-radius
                    "
                    @mousedown.away="show_results = false"
                    x-show="show_results"
                    x-ref="searchResults"
                >{% block search_results %}{% endblock search_results %}</ul>
            </div> 
        </div>

        <div class=" flex flex-1 pt-4 h-full"> {# map container  #}
            <div {# Leafmap  #}
                id="map"
                class="w-full h-full rounded-radius border"
            ></div>
        </div>

        <div class="flex pt-4 flex-row gap-4">  {# Coordenadas container #}

            <div class="flex flex-1 flex-col gap-1 text-on-surface dark:text-on-surface-dark">
                <div class="group flex items-center w-full rounded-radius border border-outline bg-surface-alt dark:border-outline-dark dark:bg-surface-dark-alt/50 focus-within:ring-2 focus-within:ring-primary">
                    <span class="pl-2 text-xs font-semibold opacity-50 select-none">Latitude:</span>
                    
                    <input 
                        type="text" 
                        {# x-model="d_lat" #}
                        x-model.debounce.500ms="d_lat"
                        @input="manualUpdate()"
                        class="w-full bg-transparent p-1 text-sm focus:outline-none disabled:cursor-not-allowed" 
                        name="latitude"
                    />
                </div>
            </div>

            <div class="flex flex-1 flex-col gap-1 text-on-surface dark:text-on-surface-dark">
                <div class="group flex items-center w-full rounded-radius border border-outline bg-surface-alt dark:border-outline-dark dark:bg-surface-dark-alt/50 focus-within:ring-2 focus-within:ring-primary">
                    <span class="pl-2 text-xs font-semibold opacity-50 select-none">Longitude:</span>
                    
                    <input 
                        type="text" 
                        {# x-model="d_lng" #}
                        x-model.debounce.500ms="d_lng"
                        @input="manualUpdate()"
                        class="w-full bg-transparent p-1 text-sm focus:outline-none disabled:cursor-not-allowed" 
                        name="longitude"
                    />
                </div>
            </div>

        </div>

    </div>
</div>


{% endblock content %}
