{% extends "layout/template.html" %}

{# {% if page and page.title %}
  {% block title %}
    {{page.title}}
  {% endblock title %}
{% endif %} #}

{% block content  %}
<div class="flex flex-col gap-4 p-2">

  {# content header #}
  <div class="flex flex-row items-center justify-between gap-4">

    {# TITLE #}
    <div class="flex items-center gap-3">
      <div class="px-2 rounded-radius">
      {# <div class="p-2 bg-primary/10 dark:bg-primary-dark/20 rounded-lg text-primary dark:text-primary-dark"> #}
        <i data-lucide="land-plot" class="size-6"></i>
      </div>

      <div>
        <h2 class="text-xl font-bold text-on-surface-strong dark:text-on-surface-dark-strong leading-none">
            Terrenos
        </h2>
        <p class="text-xs text-on-surface/60 dark:text-on-surface-dark/60 mt-1">
            Gerenciamento e listagem
        </p>
      </div>
    </div>


    {# TODO #}
    {# SEARCH BAR QUE FILTRA OS CAMPOS DA TABELA ABAIXO #}


    {# RIGHT BUTTON #}
    <button id="nav-create-terreno"
      hx-get="/terreno/create"
      hx-target="#content"
      hx-swap="innerHTML" 
      hx-push-url="true" 
      href="/terreno/create"
      type="button" 
      class="
        inline-flex 
        justify-center 
        items-center gap-2 
        whitespace-nowrap 
        rounded-radius
        bg-primary border border-primary dark:border-primary-dark 
        px-4 py-2 
        text-sm font-medium 
        tracking-wide
        text-on-primary 
        cursor-pointer
        transition
        hover:opacity-75
        hover:shadow-md 
        text-center focus-visible:outline 
        focus-visible:outline-offset-2
        focus-visible:outline-primary  dark:bg-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark
        max-w-30
      "
    >
      <i data-lucide="circle-plus" class="size-5"></i>
      Novo
    </button>

  </div>{# END CONTENT HEADER #}

  {# TABLE CONTAINER #}
  <div id="table-container"
     class="
      overflow-x-auto w-full
      rounded-radius 
      border border-outline dark:border-outline-dark
    "
  >
  <table id="items-table" 
    class="
      w-full table-fixed 
      text-left text-sm
      text-on-surface dark:text-on-surface-dark
    "
  >

      <colgroup>
        <col class="w-10">
        <col class="w-auto">
        <col class="w-auto">
        <col class="w-auto">
        <col class="w-auto">
        <col class="w-auto">
        <col class="w-20 text-right">
      </colgroup>

      <thead 
        class="
          border-b border-outline dark:border-outline-dark
          bg-surface-alt
          text-sm text-on-surface-strong   dark:text-on-surface-dark-strong
        "
      >

        <tr class="">

          {# TODO fazer ordenavel pelo header  #}

          <th scope="col" class="p-2 font-semibold">#</th> {#  #}
          <th scope="col" class="p-2 font-semibold">Nome do terreno</th>
          <th scope="col" class="p-2 font-semibold">Endereço</th> 
          <th scope="col" class="p-2 font-semibold">latitude</th> 
          <th scope="col" class="p-2 font-semibold">longitude</th> 
          <th scope="col" class="p-2 font-semibold">torres</th> 
          <th scope="col" class="p-2 font-semibold">Ações</th> {#  fixar no final #}
        </tr>

      </thead>

      <tbody id="table-body" 
        hx-post="/terreno/list" 
        hx-trigger="load once" 
        hx-target="this"
        hx-swap="innerHTML"
        class="
          divide-y divide-outline dark:divide-outline-dark
        "
      >

        <tr {# id="item-id-{{item.id}}" #}>
          <td class="p-4">0</td>
          <td class="p-4">Item fixo</td>
          <td class="p-4">bla bla rua lalala</td> {# TODO  Endereço deve ter um popup que mostra o endereço todo #}
          <td class="p-4">lat</td>
          <td class="p-4">long</td>
          <td class="p-4">quantidade de torres</td>
          <td class="p-4 text-center">
            <div class="flex justify-center gap-2">
              <button>editar</button>
            </div>
          </td>
        </tr>
        {# {% block table %}
        {% if items %}
        {% for item in items %}
        <tr>
          {% include "pages/terreno/item.html" %}
        </tr>
        {% endfor %}
        {% endif %}
        {% endblock table %} #}

      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{# {% block end_body %}
{% include "partials/notification.html" %}
{% endblock end_body %} #}